In [ ]:
#!pip install ipython-sql
#!pip install pgspecial

In [ ]:
%reload_ext sql
%sql postgresql://postgres:ninguna.123@extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com/AdventureWorks

In [ ]:
#Database conector
%reload_ext sql
%sql postgresql://postgres:ninguna.123@extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com/db_isa

# Tables

In [ ]:
#DROP Tables if exists
%%sql end;
DROP TABLE IF EXISTS tbl_discharges_1;
DROP TABLE IF EXISTS tbl_discharges_2;
DROP TABLE IF EXISTS tbl_discharges_3;

In [ ]:
#DROP Tables if exists
%%sql end;
DROP TABLE IF EXISTS tbl_towers_1;
DROP TABLE IF EXISTS tbl_towers_2;
DROP TABLE IF EXISTS tbl_towers_3;

In [ ]:
#DROP Tables if exists
%%sql end;
DROP TABLE IF EXISTS tbl_outages_1;
DROP TABLE IF EXISTS tbl_outages_2;
DROP TABLE IF EXISTS tbl_outages_3;

In [ ]:
#CREATE tables
%%sql end;
-- LINE 1
-- Create table about discharges
CREATE TABLE tbl_discharges_1 (
    id_discharges VARCHAR(10),
    date TIMESTAMP,
    longitude VARCHAR(50),
    latitude VARCHAR(50),
    polarity INTEGER,
    magnitude NUMERIC(5,2),
    current NUMERIC(5,2),
    line VARCHAR(50)
);

-- LINE 2
-- Create table about discharges
CREATE TABLE tbl_discharges_2 (
    id_discharges VARCHAR(10),
    date TIMESTAMP,
    longitude VARCHAR(50),
    latitude VARCHAR(50),
    polarity INTEGER,
    magnitude NUMERIC(5,2),
    current NUMERIC(5,2),
    line VARCHAR(50)
);

-- LINE 3
-- Create table about discharges
CREATE TABLE tbl_discharges_3 (
    id_discharges VARCHAR(10),
    date TIMESTAMP,
    longitude VARCHAR(50),
    latitude VARCHAR(50),
    polarity INTEGER,
    magnitude NUMERIC(5,2),
    current NUMERIC(5,2),
    line VARCHAR(50)
);

In [ ]:
#CREATE tables
%%sql end;
-- Create table about towers
CREATE TABLE tbl_towers_1 (
    id_tower INTEGER,
    num_tower INTEGER,
    desc_tower VARCHAR(50),
    longitude VARCHAR(50),
    latitude VARCHAR(50)
);

-- Create table about towers
CREATE TABLE tbl_towers_2 (
    id_tower INTEGER,
    num_tower INTEGER,
    desc_tower VARCHAR(50),
    longitude VARCHAR(50),
    latitude VARCHAR(50)
);

-- Create table about towers
CREATE TABLE tbl_towers_3 (
    id_tower INTEGER,
    num_tower INTEGER,
    desc_tower VARCHAR(50),
    longitude VARCHAR(50),
    latitude VARCHAR(50)
);

In [ ]:
#CREATE tables
%%sql end;
-- Create table about outages
CREATE TABLE tbl_outages_1 (
    Id_outages VARCHAR(10),
    code_occurrence INTEGER,
    date TIMESTAMP,
    localize_range VARCHAR(50),
    long_line NUMERIC(5,2),
    dist_comuneros NUMERIC(5,2),
    dist_primavera NUMERIC(5,2),
    line VARCHAR(50)
);

-- Create table about outages
CREATE TABLE tbl_outages_2 (
    Id_outages VARCHAR(10),
    code_occurrence INTEGER,
    date TIMESTAMP,
    localize_range VARCHAR(50),
    long_line NUMERIC(5,2),
    dist_cerromatoso NUMERIC(5,2),
    dist_primavera NUMERIC(5,2),
    line VARCHAR(50)
);

-- Create table about outages
CREATE TABLE tbl_outages_3 (
    Id_outages VARCHAR(10),
    code_occurrence INTEGER,
    date TIMESTAMP,
    localize_range VARCHAR(50),
    long_line NUMERIC(5,2),
    dist_lavirginia NUMERIC(5,2),
    dist_sancarlos NUMERIC(5,2),
    line VARCHAR(50)
);

In [ ]:
#INSERT
#1. Open cmd 
#2. Go to Postgres folder - bin: C:\Program Files\PostgreSQL\12\bin
#3. execute
#LINE 1
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_discharges_1 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\discharges1.csv' with (format CSV, header true, delimiter ',');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_outages_1 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\outages1_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_towers_1 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\towers1_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"

#LINE 2
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_discharges_2 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\discharges2.csv' with (format CSV, header true, delimiter ',');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_outages_2 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\outages2_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_towers_2 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\towers2_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"

#LINE 3
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_discharges_3 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\discharges3.csv' with (format CSV, header true, delimiter ',');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_outages_3 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\outages3_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_towers_3 FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\towers3_complete.csv' with (format CSV, header true, delimiter ',', encoding 'UTF8');"

In [ ]:
%%sql
select * from tbl_outages_1 limit 5;

In [ ]:
%%sql
select * from tbl_towers_2 limit 5;

In [ ]:
%%sql
select * from tbl_discharges_3 limit 5;

# Model tables

In [ ]:
%%sql end;
DROP TABLE IF EXISTS tbl_features;

In [ ]:
%%sql end;
-- Create Features
CREATE TABLE tbl_features (
    id_registro VARCHAR,
    storm_duration VARCHAR,
    temporal_density VARCHAR,
    time_delta_min VARCHAR,
    magnitude_mean VARCHAR,
    magnitude_max VARCHAR,
    area VARCHAR,
    espatial_density VARCHAR,
    distance_centroid VARCHAR,
    distance_polygon VARCHAR,
    distance_max VARCHAR,
    line INTEGER,
    label VARCHAR
);

In [ ]:
#INSERT
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_features FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\Features_timedeltas.csv' with (format CSV, header true, delimiter ',');"

In [ ]:
%%sql end;
DROP TABLE IF EXISTS tbl_discharges_by_cluster;

In [ ]:
%%sql end;
-- Create discharges_by_cluster
CREATE TABLE tbl_discharges_by_cluster (
    id_registro VARCHAR,
    time_delta VARCHAR,
    latitude VARCHAR,
    longitude VARCHAR,
    latitude_rad VARCHAR,
    longitude_rad VARCHAR,
    date TIMESTAMP,
    polarity VARCHAR,
    magnitude VARCHAR,
    current VARCHAR,
    line INTEGER,
    x VARCHAR,
    y VARCHAR,
    lon_failure VARCHAR,
    lat_failure VARCHAR,
    dist_failure_km VARCHAR,
    label VARCHAR,
    outage VARCHAR,
    cluster VARCHAR,
    date_outage TIMESTAMP
);

In [ ]:
#INSERT
#psql -h extended-case-4.crccn2eby4ve.us-east-2.rds.amazonaws.com -U postgres -d db_isa -c "\copy tbl_discharges_by_cluster FROM 'C:\Users\edison.yepes\Documents\MinTIC py\ISA\EquipoRayo\data\discharges_by_cluster.csv' with (format CSV, header true, delimiter ',');"