In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta

In [4]:
__main__

NameError: name '__main__' is not defined

In [6]:
import os 
os.chdir(r'C:\Users\Camilo\Proyectos\DS4A\project_ISA\EquipoRayo')

In [8]:
#Comuneros_Primavera [1]
discharges_Comuneros_Primavera = pd.read_csv('data/DF_Descargas_Comuneros_Primavera_2018_2019.csv', header=0, delimiter=',', index_col=0,
                         names=['date','longitude','latitude','polarity','magnitude','current'], parse_dates=['date'])
outages_Comuneros_Primavera = pd.read_csv('data/Fallas_Comuneros_Primavera_2010_2019.csv', header=0, delimiter=',', index_col=0,
                     names=['date','year','time','cause','outages_number','r_inf','r_sup'], parse_dates=['date'])
towers_Comuneros_Primavera = pd.read_csv('data/Georef_torres_Comuneros_Primavera.csv', header=0, delimiter=',', names=['longitude','latitude'])

In [9]:
discharges_Comuneros_Primavera["linea"] = 1
outages_Comuneros_Primavera["linea"] = 1
towers_Comuneros_Primavera["linea"] = 1

In [10]:
#Cerromatoso_Primavera [2]
discharges_Cerromatoso_Primavera = pd.read_csv('data/DF_Descargas_Cerromatoso_Primavera_2007_2020.csv', header=0, delimiter=',', index_col=0,
                         names=['date','longitude','latitude','polarity','magnitude','current'], parse_dates=['date'])
outages_Cerromatoso_Primavera = pd.read_csv('data/Fallas_Cerro_Primavera_2010_2019.csv', header=0, delimiter=',', index_col=0,
                     names=['date','year','time','cause','outages_number','r_inf','r_sup'], parse_dates=['date'])
towers_Cerromatoso_Primavera = pd.read_csv('data/Georef_torres_Primavera_Cerromatoso.csv', header=0, delimiter=',', names=['longitude','latitude'])

In [11]:
discharges_Cerromatoso_Primavera["linea"] = 2
outages_Cerromatoso_Primavera["linea"] = 2
towers_Cerromatoso_Primavera["linea"] = 2

In [12]:
#Virginia_SanCarlos [3]
discharges_Virginia_SanCarlos = pd.read_csv('data/DF_Descargas_LaVirginia_SanCarlos_2007_2020.csv', header=0, delimiter=',', index_col=0,
                         names=['date','longitude','latitude','polarity','magnitude','current'], parse_dates=['date'])
outages_Virginia_SanCarlos = pd.read_csv('data/Fallas_Virginia_SanCarlos_2010_2019.csv', header=0, delimiter=',', index_col=0,
                     names=['date','year','time','cause','outages_number','r_inf','r_sup'], parse_dates=['date'])
towers_Virginia_SanCarlos = pd.read_csv('data/Georef_torres_San Carlos_Virginia.csv', header=0, delimiter=',', names=['longitude','latitude'])

In [13]:
discharges_Virginia_SanCarlos["linea"] = 3
outages_Virginia_SanCarlos["linea"] = 3
towers_Virginia_SanCarlos["linea"] = 3

In [23]:
discharges = pd.concat([discharges_Comuneros_Primavera, discharges_Cerromatoso_Primavera, discharges_Virginia_SanCarlos], ignore_index=True)
outages = pd.concat([outages_Comuneros_Primavera, outages_Cerromatoso_Primavera, outages_Virginia_SanCarlos], ignore_index=True)
towers = pd.concat([towers_Comuneros_Primavera, towers_Cerromatoso_Primavera, towers_Virginia_SanCarlos], ignore_index=True)

In [20]:
import geopandas as gpd

In [19]:
discharges

,date,longitude,latitude,polarity,magnitude,current,linea
0,2018-04-01 00:01:37.243,-73.7533,6.5093,1,4.9,4.9,1
1,2018-04-01 00:01:37.247,-73.7439,6.5095,1,12.1,12.1,1
2,2018-04-01 00:01:37.263,-73.7595,6.5107,-1,12.3,-12.3,1
3,2018-04-01 00:02:17.110,-73.9832,6.6810,-1,12.7,-12.7,1
4,2018-04-01 00:03:11.770,-73.6836,6.5348,1,5.1,5.1,1
...,...,...,...,...,...,...,...
17868401,2020-03-31 23:59:36.813,-74.7958,6.2528,-1,5.5,-5.5,3
17868402,2020-03-31 23:59:49.293,-75.1250,5.8519,1,4.9,4.9,3
17868403,2020-03-31 23:59:56.440,-74.7545,6.1019,-1,44.0,-44.0,3
17868404,2020-03-31 23:59:56.507,-74.7556,6.1029,-1,40.5,-40.5,3
17868405,2020-03-31 23:59:56.657,-74.7662,6.1106,-1,8.7,-8.7,3

In [ ]:
outages['date'] = pd.to_datetime(outages['date'])

def previous_discharges_by_time(outage_date, time_i, time_f):
    datetime_f = outage_date - timedelta(minutes=time_f)
    datetime_i = datetime_f - timedelta(minutes=time_i)
    previous_discharges = discharges[(discharges['date']>datetime_i) &
                        (discharges['date']<datetime_f)]
    return previous_discharges

for outage_date in outages['date']:
    previous_discharges = previous_discharges_by_time(outage_date=outage_date, time_i=25, time_f=5)
    print(previous_discharges)

In [24]:
outages

,year,time,cause,outages_number,r_inf,r_sup,linea
0,2010-06-12 19:48:00,2010,19:48:00,70-75,Recierre,1,1
1,2010-08-19 22:53:00,2010,22:53:00,40-45,Recierre,1,1
2,2010-10-14 01:14:00,2010,01:14:00,50-55,Recierre,1,1
3,2010-10-15 02:29:00,2010,02:29:00,5-10,Recierre,1,1
4,2010-10-20 03:45:00,2010,03:45:00,0-5,Recierre,1,1
...,...,...,...,...,...,...,...
292,2019-11-10 17:55:00,2019,17:55:00,45-50,Recierre,1,3
293,2019-12-03 15:03:00,2019,15:03:00,0-5,Recierre,1,3
294,2019-12-06 20:36:00,2019,20:36:00,85-90,Recierre,1,3
295,2019-12-20 02:36:00,2019,02:36:00,95-100,Recierre,1,3
296,2019-12-25 19:25:00,2019,19:25:00,85-90,Recierre,1,3